.App{
  background: #333;
}

.videoListContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: 100vh;
  padding: 20px;
  justify-content: space-around;
  box-sizing: border-box;
}

.btn{
  display: flex;
  justify-content: center;
  gap: 20px;
}